<header id="header">
    <div class="header_main_container">
        <div class="logo_component">
            <a href="/">
                <img src="/assets/images/tgvlogo.png" alt="Travelvago" />
            </a>
        </div>
        
        <div class='nav_toggle_container_icon' id="nav_toggle_div">
            <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="34" height="34" fill="none" viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M18 6h-8m8 4H6m12 4h-8m8 4H6"/>
              </svg>
              
        </div>
        <ul class="small_device_nav_links_container" id="nav_links">
            <a href="/" class="<%=pageActive === 'home' ? 'active' : ""%>">Home</a>
            <a href="/blog" class="<%=pageActive === 'blog' ? 'active' : ""%>">Blogs</a>
            <a href="/about" class="<%=pageActive === 'about' ? 'active' : ""%>">About</a>
        </ul>
        <ul class="big_device_nav_links_container">
            <a href="/" class="<%=pageActive === 'home' ? 'active' : ""%>">Home</a>
            <a href="/blog" class="<%=pageActive === 'blog' ? 'active' : ""%>">Blogs</a>
            <a href="/about" class="<%=pageActive === 'about' ? 'active' : ""%>">About</a>
        </ul>
    </div>
</header>