<div class="planning_trip_main_container">
    <h1>Start Planning Your Trip</h1>
    <div class="planning_trip_container">
        <!-- Planning Post -->
        <%-include('planningTripPost.ejs',{
            imageUrl:"https://i.postimg.cc/tgFqQf44/pexels-pixabay-67559-1.jpg",
            title:"Getting Started",
            pageUrl:"#"
        })%>
         <%-include('planningTripPost.ejs',{
            imageUrl:"https://i.postimg.cc/W4B71NYb/pexels-pixabay-208444.jpg",
            title:"How to Save for trip",
            pageUrl:"#"
        })%>
        <%-include('planningTripPost.ejs',{
            imageUrl:"https://i.postimg.cc/RFhwT5R8/malaysia.jpg",
            title:"How to plan your trip",
            pageUrl:"#"
        })%>
        <%-include('planningTripPost.ejs',{
            imageUrl:"https://i.postimg.cc/Gt2x7xkb/malaysia.jpg",
            title:"Getting the right gear",
            pageUrl:"#"
        })%>
         <%-include('planningTripPost.ejs',{
            imageUrl:"https://i.postimg.cc/wMsJSXnQ/singapore.jpg",
            title:"Finding Cheap Airfare",
            pageUrl:"#"
        })%>
        <%-include('planningTripPost.ejs',{
            imageUrl:"https://i.postimg.cc/ZRZgD3Hh/eastern-europe.jpg",
            title:"Finding Accommodation",
            pageUrl:"#"
        })%>
    </div>
</div>