<a href="/blog/<%=item.slug%>" class='post_container'>
    <div class="post_img_container">
        <img src="<%=item.image%>" alt="<%=item.title%>" />
    </div>
    <div class="post_content_container">
        <div class="post_content_category_time_container">
            <p><%=item.category%></p>
            <!-- <p>
                <%=((new Date(Date.now()) - new Date(item.createdAt)) / (1000 * 60 * 60)).toFixed(0)%>
                hours ago
            </p> -->
        </div>
        <h3><%=item.title%></h3>
        <p><%=item.summary.substring(0,200)%>....</p>
        <p class='read_more'>Read More</p>
    </div>
</a>